<main class="container full-center">
  <section class="composer">
    <h2 style="text-align:center;color:#fff">Login</h2>
    <div class="field">
      <label>Name</label>
      <input type="text" ng-model="vm.form.name" placeholder="Your name" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" ng-model="vm.form.password" placeholder="Your password" />
    </div>
    <div class="actions center">
      <button ng-click="vm.login()">Login</button>
      <a class="btn" href="#/register">Register</a>
    </div>
  </section>
</main>


